{% extends "layout.html" %}
{% set active_page = "wallet/journal" %}
{% block title %}Wallet Journal{% endblock %}
{% block content %}
	<h1 class="page-header">Wallet Journal</h1>
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th>Date</th>
				<th>Type</th>
				<th class="text-right">Amount</th>
				<th class="text-right">Balance</th>
			</tr>
		</thead>
		<tbody>
			{% for entry in entries %}
				<tr class="{{ entry.class }}">
					<td>{{ entry.date }}</td>
					<td>{{ entry.type }}</td>
					<td class="text-right">{{ entry.amount }}</td>
					<td class="text-right">{{ entry.balance }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}