{% extends "layout.html" %}
{% set active_page = "wallet/transactions" %}
{% block title %}Wallet Transactions{% endblock %}
{% block content %}
	<h1 class="page-header">Wallet Transactions</h1>
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th>Date</th>
				<th>Name</th>
				<th class="text-right">Quantity</th>
				<th class="text-right">Price</th>
			</tr>
		</thead>
		<tbody>

			{% for entry in entries %}
				<tr class="{{ entry.class }}">
					<td>{{ entry.date }}</td>
					<td>{{ entry.name }}</td>
					<td class="text-right">{{ entry.quantity }}</td>
					<td class="text-right">{{ entry.price }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}