{% extends "layout.html" %}
{% set active_page = "industry/jobs" %}
{% block title %}Industry Jobs{% endblock %}
{% block content %}
	<h1 class="page-header">Industry Jobs</h1>
	{% for name, job in jobs.iteritems() %}
			<h3 class="sub-header">{{ name }}</h3>
			<table class="table table-striped table-hover table-condensed">
			<thead>
				<tr>
					<th>Blueprint</th>
					<th>Activity</th>
					<th>TTC</th>
					<th>Status</th>
				</tr>
				</thead>
				<tbody>
				{% for blueprint in job %}
					<tr class="{{blueprint.rowClass}}">
						<td>{{ blueprint.blueprintTypeName }}</td>
						<td>{{ blueprint.activityID }}</td>
						<td>{{ blueprint.ttc }}</td>
						<td>{{ blueprint.status }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
	{% endfor %}
{% endblock %}