{% extends "layout.html" %}
{% set active_page = "industry/kitbuilder" %}
{% block title %}Production Kit Builder{% endblock %}
{% block content %}
	<div class="row">
		{% if materials %}
			<div class="col-md-6">
				<h3>Materials</h3>
				<table class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
						{% for material in materials %}
							<tr>
								<td><a href="#" onclick='CCPEVE.showMarketDetails({{material.typeID}});return false;' class="material-{{ material.typeID }}"> {{ material.typeName }}</a></td>
								<td>{{ material.quantity }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
		<div class="col-md-6">
			<h3>Blueprint Information</h3>
			<form role="form" action="" method="POST" class="form-horizontal">
				<div class="form-group">
					<label for="blueprint" class="col-sm-2 control-label">Blueprint</label>
					<div class="col-sm-6">
						<select class="form-control" name="blueprint">
							{% for item in items %}
								<option value="{{ item.typeID }}"{% if request.form.get('blueprint')|int == item.typeID %} selected {% endif %}>{{ item.typeName }}</option>
							{% endfor %}
						</select>	
					</div>
				</div>
				<div class="form-group">
					<label for="ME" class="col-sm-2 control-label">ME</label>
					<div class="col-sm-2">
						<input class="form-control" type="text" name="ME" value="{{ request.form.get('ME')|default(2,true) }}">
					</div>
				</div>
				<div class="form-group">
					<label for="TE" class="col-sm-2 control-label">TE</label>
					<div class="col-sm-2">
						<input class="form-control" type="text" name="TE" value="{{ request.form.get('TE')|default(2,true) }}">	
					</div>
				</div>
				<div class="form-group">
					<label for="kits" class="col-sm-2 control-label">Kits</label>
					<div class="col-sm-2">
						<input class="form-control" type="text" name="kits" value="{{ request.form.get('kits')|default(1,true) }}">	
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
      				<button type="submit" class="btn btn-primary">Calculate</button>
    			</div>	
				</div>
				
			</form>
		</div>
		
	</div>
{% endblock %}
