{% extends "layout.html" %}
{% set active_page = "incursions" %}
{% block title %}Incursion tracker{% endblock %}
{% block content %}
    <h1 class="page-header">Incursion Tracker</h1>
    <form id="incursions" method="POST" action="">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-2">
                <div class="form-group">
                    <label>Start Time</label>
                    <input name="start-time" type="text" class="form-control time"/>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
                <div class="form-group">
                    <label>End Time</label>
                    <input name="end-time" type="text" class="form-control time"/>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
                <div class="form-group">
                    <label>Start ISK</label>
                    <div class="input-group">
                        <input name="start-isk" type="text" class="form-control money"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default fetch-isk">
                                <span class="adjusted fa fa-exchange"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
                <div class="form-group">
                    <label>End ISK</label>
                    <input name="end-isk" type="text" class="form-control money"/>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
                <div class="form-group">
                    <label>Sites</label>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default site-decrease">
                                <span class="adjusted fa fa-minus"></span>
                            </button>
                        </span>
                        
                        <input type="text" class="form-control" name="sites" value="0">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default site-increase">
                                <span class="adjusted fa fa-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-small save-btn" value="Save"/>
                    <button type="button" class="btn btn-danger btn-small pay-tip" data-toggle="modal" data-target="#tipModal">Pay</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-6">
        <p>
            <strong>Tip to boosters: </strong><span class="tip">0</span> ISK
        </p>
        </div>
        <div class="col-md-6">
        <p>
            <strong>Last site: </strong><span class="last-site"></span>
        </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
           {% if incursions.pages > 1 %}
                <nav>
                  <ul class="pagination">
                    {% if incursions.has_prev %}
                        <li class="previous"><a href="{{ url_for('incursions',page=incursions.prev_num) }}"><span aria-hidden="true">&laquo;</span></a></li>
                    {% else %}
                        <li class="previous disabled"><a href="#"><span aria-hidden="true">&laquo;</span></a></li>
                    {% endif %}
                    {% for page in incursions.iter_pages() %}
                        {% if page %}
                            {% if page != incursions.page %}
                                <li><a href="{{ url_for('incursions', page=page) }}">{{ page }}</a></li>
                            {% else %}
                                <li class="active"><a href="#">{{ page }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if incursions.has_next %}
                        <li class="next"><a href="{{ url_for('incursions',page=incursions.next_num) }}"><span aria-hidden="true">&raquo;</span></a></li>
                    {% else %}
                        <li class="next disabled"><a href="#"><span aria-hidden="true">&raquo;</span></a></li>    
                    {% endif %}
                    
                  </ul>
                </nav>    
            {% endif %} 
            
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th class="text-right">Sites</th>
                <th class="text-right">Duration</th>
                <th class="text-right">Payout</th>
            </tr>
        </thead>
        <tbody>
        {% for incursion in incursions.items %}
            <tr>
                <td>{{incursion.date.strftime('%d.%m.%Y')}}</td>
                <td class="text-right">{{incursion.sites}}</td>
                <td class="text-right">{{incursion.duration}}</td>
                <td class="text-right">{{'{0:,.2f}'.format(incursion.payment)}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Modal for prompting payment amount-->
    <div class="modal fade" id="tipModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="tipModalLabel">Pay Boosters</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="tipPayment" autofocus>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary form-control" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}