{% set navigation_bar = [
    ('/incursions','incursions','Incursions'),
    ([('/market/modules','market/modules','Modules')], 'market', 'Market'),
    ([('/wallet/transactions','wallet/transactions','Transactions'),
      ('/wallet/journal','wallet/journal','Journal')], 'wallet', 'Wallet'),
    ([('/industry/jobs', 'industry/jobs', 'Jobs'),
      ('/industry/kitbuilder','industry/kitbuilder','Kit Builder')],'industry','Industry'),
    ([('/settings/api','settings/api','API'),
      ('/settings/characters','settings/characters','Characters')],'settings','Settings')
] -%}

{% set active_page = active_page|default('index') -%}

<!DOCTYPE html>
<html>
<head><title>EVE-Market - {% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap/theme-sandstone.min.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/evemarket/style_alt.css') }}">
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Eve-Toolbox</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav visible-xs">
          {% for href, id, caption in navigation_bar %}
            {% if href is string%}          
              <li{% if id == active_page %} class="active"{% endif %}>
                <a href="{{ href|e }}">{{ caption|e }}</a>
              </li>
            {% else %}
              <li role="presentation" class="collapsed">
                <a class="sub-menu-toggle" data-target="#{{id}}" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{caption}} <span class="caret"></span></a>
                <ul class="sub-menu collapse{% if active_page is insubpage href%} in {% endif %}" id="{{id}}">
                {% for subhref, subid, subcaption in href %}
                  <li{% if subid == active_page %} class="active"{% endif %}>
                    <a href="{{ subhref|e }}">{{ subcaption|e }}</a>
                  </li>
                {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endfor %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="sidebar-menu">
          {% for href, id, caption in navigation_bar %}
            {% if href is string%}          
              <li{% if id == active_page %} class="active"{% endif %}>
                <a href="{{ href|e }}">{{ caption|e }}</a>
              </li>
            {% else %}
              <li>
                <a class="sub-menu-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{caption}} 
                  {% if active_page is insubpage href %}
                    <span class="fa fa-angle-down arrow"></span></a>
                  {% else %}
                    <span class="fa fa-angle-left arrow"></span></a>
                  {% endif %}
                <ul class="sub-menu collapse{% if active_page is insubpage href %} in {% endif %}" id="{{id}}">
                {% for subhref, subid, subcaption in href %}
                  <li{% if subid == active_page %} class="active"{% endif %}>
                    <a href="{{ subhref|e }}">{{ subcaption|e }}</a>
                  </li>
                {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-9 col-md-10 main">
		    {% block content %}{% endblock %}
      </div>
    </div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/evemarket/utils.js') }}"></script>
  <script src="{{ url_for('static', filename='js/evemarket/main.js') }}"></script>
</body>
</html>