{% extends "layout.html" %}
{% set active_page = "settings/api" %}
{% block title %}API Management{% endblock %}
{% block content %}
	<div class="row-fluid">
		<a class="btn btn-success pull-right add" data-toggle="modal" data-target="#AddKeyModal"><span class="fa fa-plus"></span> Add</a>
		<h1 class="page-header">API Management</h1>
		
	</div>
 	<div class="row">
		<div class="col-md-12">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<div class="alert alert-danger" role="alert">
						{% for message in messages %}
							{{message}}<br/>
						{% endfor %}
					</div>
				{% endif %}
			{%endwith%}
			<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>Key ID</th>
					<th>Verification Code</th>
					<th>Characters</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			{% for key in apikeys %}
				<tr>
					<td>{{ key.keyid }}</td>
					<td>{{ key.vcode[:10] }}...</td>
					<td>
						{% for id in key.characters %}
							<img src="https://image.eveonline.com/Character/{{ id }}_32.jpg"/>
						{% endfor %}
					</td>
					<td></td>
				</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
	</div>
	<!-- Add new key modal -->

	<div class="modal fade" id="AddKeyModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="AddKeyModalLabel">Add new API key</h4>

	      </div>
	      <form method="POST" action="/settings/api/add">
	      <div class="modal-body">
	      	<p>Enter your API key details below.</p>
	        <p>You can get them from <a target="_blank" href="https://community.eveonline.com/support/api-key">here</a></p>
	        
	          	<div class="form-group">
	          		<input type="text" name="keyid" class="form-control" placeholder="Key ID">
	          	</div>
	        	<div class="form-group">
	          		<input type="text" name="vcode" class="form-control" placeholder="Verification Code">
	          	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Add</button>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>
{% endblock %}