{% extends "layout.html" %}
{% set active_page = "settings/characters" %}
{% block title %}Characters{% endblock %}
{% block content %}
	<div class="row-fluid">
		<h1 class="page-header">Characters</h1>
	</div>
 	<div class="row">
		<div class="col-md-12">
			<table class="table table-condensed table-hover characters">
			<thead>
				<tr>
					<th>Name</th>
					<th>Default</th>
				</tr>
			</thead>
			<tbody>
			{% for character in characters %}
			<tr>
				<td>
					<img src="https://image.eveonline.com/Character/{{ character.characterID }}_64.jpg"/>
					<strong>{{ character.name }}</strong>
				</td>
				<td>
					{% if character.selected %}
						<span class="fa fa-star fa-2x character-default"></span>
					{% else %}
						<span class="fa fa-star-o fa-2x character-default"></span>
					{%endif%}
				</td>
			</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
	</div>
{% endblock %}