{% extends "layout.html" %}
{% set active_page = "settings" %}
{% block title %}Settomgs{% endblock %}
{% block content %}
	<h1 class="page-header">Settings</h1>
	<h2 class="sub-header">Watched Systems</h2>
	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label>Search</label>
				<input class="form-control" type="text"/>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-hover">
				<tr>
					<th>Region</th>
					<th>System</th>
					<th>Action</th>
				</tr>
			</table>
		</div>
	</div>
	<script type="text/javascript">
		var solarsystems = {{systems|tojson|safe}};
	</script>
{% endblock %}