<!DOCTYPE html>
<html>
<head><title>EVE-Market - Signin</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap/theme-light.min.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/evemarket/style_alt.css') }}">
</head>
<body>
	<div class="wrapper">
	    <form class="form-signin" method="POST" action="">       
	      <h2 class="form-signin-heading">Please login</h2>
	      <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
	      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>      
	      <label class="checkbox">
	        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
	      </label>
	      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
	    </form>
  	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/evemarket/utils.js') }}"></script>
	<script src="{{ url_for('static', filename='js/evemarket/main.js') }}"></script>
</body>
</html>





