{% extends "layout.html" %}
{% set active_page = "market/modules" %}
{% block title %}Modules{% endblock %}
{% block content %}
	<h1 class="page-header">Modules</h1>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<!--<th>typeID</th>-->
				<th>Name</th>
				<th class="text-right">Sell</th>
				<th class="text-right">Buy</th>
				<th class="text-right">Net</th>
				<th class="text-right">%</th>
				<th class="text-right">Volume</th>
				<th class="text-right">Potential / Day</th>
				<th class="text-right">Volume / Month</th>
				<th class="text-right">Potential / Month</th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
				<tr class="{{ item.class }}">
					<!--<td>{{ item.typeID }} </td>-->
					<td> {{ item.typeName}} </td>
					<td class="text-right">{{ item.sell }} </td> 
					<td class="text-right">{{ item.buy }}</td>
					<td class="text-right">{{ item.net }}</td>
					<td class="text-right">{{ item.marginpercent }}</td>
					<td class="text-right">{{ item.volume }}</td>
					<td class="text-right">{{ item.potential_day }}</td>
					<td class="text-right">{{ item.volume_month }}</td>
					<td class="text-right">{{ item.potential_month }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}