body{
	background: #ECECEC;
}
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar{
  	padding-left:0;
  	padding-right: 0;
  	display:block;
  }
}
.main{
	padding-top:10px;
	border-left: 1px solid #E4E4E4;
	background: #F1F1F1;
}
ul.sidebar-menu{
	list-style: none;
	padding-left: 0;
}
ul.sidebar-menu > li a{
	display:block;
	padding: 10px 0 10px 15px;
	background-color: #ECECEC;
	color: #555555;
	border-top: 1px solid #DFDFDF;
	position:relative;
}
ul.sidebar-menu > li a .arrow{
	position:absolute;
	right:10px;
	font-size:15px;
	top: 13px;
}
ul.sidebar-menu > li:first-child a {
	border-top: none;
}
ul.sidebar-menu .sub-menu{
	padding-left: 0px;
}
ul.sidebar-menu .sub-menu > li a{
	padding-left:30px;
}
.navbar.navbar-default{
	margin-bottom: 0px;
	border-color: #73D2F1;
}
.main .page-header{
	margin-top: 0px;
}
.adjusted.fa{
	top:3px;
	position:relative;
	font-size: 12px;
}
input[name="sites"]{
	text-align: center;
	font-weight: bold;
}
.save-btn,.pay-tip, .btn.save-btn:hover, .btn.pay-tip:hover{
	margin-top: 25px;
}
.money, .time{
	text-align:right;
}
.sub-menu{
	list-style:none;
}
/*
.table > thead > tr{
	background-color:#708090;
	color:#FFF;
}*/
.btn.add{
	margin-top:5px;
}

.character-default.fa-star-o:hover,.character-default.fa-star{
	color:#66C0DE;
}
.table.characters td{
	vertical-align: middle;
}
.character-default{
	cursor: pointer;
}
/*use default cursor for disabled instead of not-allowed (sandstone)*/
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
	cursor:default;
}

/*Login form*/
@import "bourbon";

body {
	background: #eee !important;	
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}
.form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
	@include box-sizing(border-box);

	&:focus {
	  z-index: 2;
	}
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin label.checkbox{
	margin-left:25px;
}